<div class="login_container">
  <div class="login_card">
    <form [formGroup]="loginFormGroup">
      <div class="row logo_spacing">
        <div class="col-lg-12 col-md-12 col-sm-12 align_center">
          <mat-form-field>
            <input matInput placeholder="Username1" formControlName="username" required>
            <mat-error>{{'Invalid username'}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row linespacing">
        <div class="col-lg-12 col-md-12 col-sm-12 align_center">
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>{{'Invalid Password'}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="row login_button_position">
      <div class="col-lg-12 col-md-12 col-sm-12 align_center">
        <button (click)="authenticate()" class="login_btn" mat-button>Log In</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align_center">
        <span class="color1">Powered by&nbsp;<span class="color2">Kumar Vista</span></span>
      </div>
    </div>
  </div>
</div>