.login_container {
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;   
    padding-top: 10%;
    background: #d8dbe5;

    .login_card {
        height: 350px;
        width: 564px;
        border: 1px solid #25364f;
        // background-color: white;  
    }

    .footer {
        position: absolute;
        bottom: 1px;
        width: 100%;
        overflow: -webkit-paged-x;
        padding-bottom: 30px;
    }

    .align_center {
        text-align: center;
    }

    .color1 {
        color: #c3c3c3;
    }

    .color2 {
        color: #00396b;
    }
}