.login_container {
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;   
    padding-top: 10%;
    background: #849abb;

    .login_card {
        box-shadow: 1px solid blue;
        width: 257px;
        height: 300px;
        background-color: white;
        padding: 20px 0px;
        background: #f5f7fa;
    }

    .footer {
        position: absolute;
        bottom: 1px;
        width: 100%;
        overflow: -webkit-paged-x;
        padding-bottom: 30px;
    }

    .align_center {
        text-align: center;
    }

    .color1 {
        color: white;
    }

    .color2 {
        color: #00396b;
    }

    .login_btn {
        background-color: #849abb;
        color: white;
        width: 186px;
    }
    
    .logo_spacing{
        padding-top:20px;
    }

    .login_button_position{
        padding-top: 30px;
    }

    .linespacing{
        padding-top: 10px;
    }
}