.flat_details_layout {
    margin: 0px !important;
    padding: 0px;
    width: 99%;

    .header {
        font-size: 22px;
        font-weight: bolder;
        color: #25364f;
    }
    .style2 {
        font-size: 16px;
        font-weight: bolder;
        color: #25364f;
    }
    .header1 {
        font-size: 20px;
        font-weight: bolder;
        color: #25364f;
    }

    .btn_style {
        background-color: #849abb;
        color: white;
        display: inline;
        width: 100px;
        float: right;
    }
    .btn_style2 {
        background-color: #849abb;
        color: white;
        display: inline;
        width: 100px;
    }

    .row_spacing {
        padding-bottom: 20px;
    }

    .basicDetails {
        label {
            font-size: 14px;
            font-weight: normal;
            color: #25364f;
        }

        span {
            font-size: 18px;
            font-weight: bolder;
            color: #25364f;
        }

        .style1{
            font-size: 14px !important;
            font-weight: normal !important;
            color: #25364f !important;
        }
    }

    .details_layout{
        border: 1px solid #849abb;
        padding: 30px;
        box-shadow: 5px 5px #849abb;
    }

    .view{
        pointer-events: none;
    }

    .style3 {
        font-size: 18px;
        font-weight: bolder;
        color: #25364f;    }

    .signPosition{
        padding:150px 30px 40px 30px;
    }

    .float_right {
        float: right;
    }
}
