<div class="dashboard_outline">
  <div class="row table_position">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <span class="header1">Project Details</span>
      <button class="btn_style" mat-button (click)="showFlatModel()">Add Flat</button>
    </div>
  </div>

  <div class="newProjectLayout" *ngIf="addFlatFlag">
    <form [formGroup]="addFlatFormGroup">
      <div class="row row_spacing">
        <div class="col-lg-4 col-md-4 col-xs-4">
          <mat-form-field>
            <input matInput placeholder="Flat Number" formControlName="flatNumber" required>
            <mat-error>{{'Invalid Flat Number'}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-4">
          <mat-form-field>
            <input matInput placeholder="Buyer Name" formControlName="buyerName" required>
            <mat-error>{{'Invalid Buyer Name'}}</mat-error>
          </mat-form-field>

        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
          <mat-form-field>
            <input matInput placeholder="Date of Booking" formControlName="dateOfBooking" required>
            <mat-error>{{'Invalid Date of Booking'}}</mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row row_spacing">
          <div class="col-lg-4 col-md-4 col-xs-4">
            <mat-form-field>
              <input type="number" matInput placeholder="Basic Cost" formControlName="basicCost" required>
              <mat-error>{{'Invalid Basic Cost'}}</mat-error>
            </mat-form-field>
          </div>
  
          <div class="col-lg-4 col-md-4 col-xs-4">
            <mat-form-field>
              <input  type="number" matInput placeholder="GST" formControlName="gst" required>
              <mat-error>{{'Invalid GST'}}</mat-error>
            </mat-form-field>
  
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4">
            <mat-form-field>
              <input  type="number" matInput placeholder="Registration Cost" formControlName="registrationCost" required>
              <mat-error>{{'Invalid Registration Cost'}}</mat-error>
            </mat-form-field>
  
          </div>
        </div>
        <div class="row row_spacing">
          <div class="col-lg-4 col-md-4 col-xs-4">
              <mat-form-field>
                <input  type="number" matInput placeholder="Maintenance Cost" formControlName="maintenanceCost" required>
                <mat-error>{{'Invalid Maintenance Cost'}}</mat-error>
              </mat-form-field>
    
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <mat-form-field>
                  <input  type="number" matInput placeholder="Other Cost" formControlName="otherCost" required>
                  <mat-error>{{'Invalid Other Cost'}}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-4 col-md-4 col-xs-4">
                  <label class="header1 labelPostion">Total Cost: </label>&nbsp;&nbsp;&nbsp;
                 <span class="stye1">{{getTotalCost()}}</span>
                </div>
        </div>
        <div class="row btn_spacing">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <mat-form-field class="remarks_width">
                  <textarea  matInput placeholder="Remarks" formControlName="remarks" required></textarea>
                  <mat-error>{{'Invalid Remarks'}}</mat-error>
                </mat-form-field>
              </div>
        </div>


      <div class="row" style="float:right">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <button class="btn_style1" mat-button (click)="addNewFlat('cancel')">Cancel</button>&nbsp;&nbsp;&nbsp;
          <button class="btn_style1" mat-button (click)="addNewFlat('add')">Add Flat</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row table_outlet">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <table>
        <tr>
          <th>S.No</th>
          <th>Flat Number</th>
          <th>Buyer Name</th>
          <th>Booking Date</th>
          <th></th>
          <th></th>

        </tr>
        <tr *ngFor="let item of allFlatData; let i=index">
          <td>{{i+1}}</td>
          <td>{{item.flatNumber}}</td>
          <td>{{item.buyerName}}</td>
          <td>{{item.dateOfBooking}}</td>
          <td class="icon_center" (click)="viewFlatDetails(item)"><i class="fa fa-eye" aria-hidden="true"></i></td>
          <td class="icon_center"><i class="fa fa-trash" aria-hidden="true"></i></td>

        </tr>
      </table>

    </div>
  </div>
</div>