.dashboard_outline {
    margin: 0px !important;
    padding: 0px;
    width: 99%;

    .row_spacing {
        padding-bottom: 20px;
    }

    .header1 {
        font-size: 18px;
        font-weight: bolder;
        color: #000000;
    }
    .stye1 {
        font-size: 30px;
        font-weight: bolder;
        color: #000000;
    }

    .btn_style {
        background-color: #849abb;
        color: white;
        display: inline;
        width: 186px;
        float: right;    
    }
    .btn_style1 {
        background-color: #849abb;
        color: white;
        display: inline;
        width: 186px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .table_position {
          padding-bottom: 30px;
      }

      .newProjectLayout{
          padding-bottom: 70px;
      }


      .btn_spacing{
          padding-bottom: 30px;
      }

      .icon_center {
        text-align: center;
      }

      .labelPostion{
        position: relative;
        top: -6px;
      }
      
      .remarks_width{
          width: 87%;
      }
      textarea {
          height: 100px;
      }

      .table_outlet{
          padding-bottom: 80px;
      }
}